%section.footer
  %nav.linkedin
    %a.linked-bree(href="http://www.linkedin.com/pub/bree-thomas/2b/371/3a1/")
    %a.linked-kat(href="http://www.linkedin.com/in/katheryngrider/")
  %p.copyright Copyright 2011. All Rights Reserved.
